################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/build/.vs/ScienceWorld
/build/obj
/build/ScienceWorld.sln
/build/ScienceWorld.vcxproj
/build/ScienceWorld.vcxproj.filters
/build/ScienceWorld.vcxproj.user
