################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/build/.vs/ScienceWorld
/build/obj
/build/ScienceWorld.sln
/build/ScienceWorld.vcxproj
/build/ScienceWorld.vcxproj.filters
/build/ScienceWorld.vcxproj.user
/build/Makefile
/build/ScienceWorld.make
/out
/build/CMakeFiles
/build/ScienceWorld.dir/Debug/microsoft/STL
/build/src
/build/ALL_BUILD.vcxproj
/build/ALL_BUILD.vcxproj.filters
/build/CMakeCache.txt
/build/cmake_install.cmake
/build/ZERO_CHECK.vcxproj
/build/ZERO_CHECK.vcxproj.filters
/build/Debug
/build/ScienceWorld.dir/Debug
/build/x64/Debug/ZERO_CHECK
*.user
/build/.vs
